.preview-section {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 50%;
  @media screen and (max-width: $screen-lg) {
    justify-content: center;
    width: 100%;
  }
}

.image {
  margin: auto;
  width: 80%;
  @media screen and (max-width: $screen-lg) {
    margin: auto;
    width: 60%;
  }
  @media screen and (max-width: $screen-sm) {
    width: 70%;
  }
}
