.application {
  position: relative;

  &__title {
    margin: {
      bottom: 4rem;
      top: 0;
    }

    @media screen and (max-width: $screen-sm) {
      text-align: center;
    }

    @media screen and (max-width: $screen-sm) {
      margin-bottom: 4rem;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
  }

  &__left {
    flex: 1;
  }

  &__right {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__image {
    width: 100%;
  }
}

.particles {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  @media screen and (max-width: $screen-md) {
    display: none;
  }
}
